@charset "UTF-8";
body, p, h1, h2, h3, ul, li, a {
  margin: 0%;
  padding: 0%;
}

body {
  color: #222222;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.flex, .qualidades, .preco, .produtos-container, .sobre, .menu-nav ul, .menu, .superinfo {
  display: flex;
  flex-wrap: wrap;
}

/*Superinfo*/
.superinfo-bg {
  color: white;
  background: #122ab2;
}

.superinfo {
  margin: 0 auto;
  max-width: 960px;
  padding: 10px 0 0 0;
  justify-content: space-between;
}

.superinfo a {
  color: white;
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
}

/* Menu */
.menu-bg {
  background: #2c70ff;
}

.menu {
  margin: 0 auto;
  max-width: 960px;
  padding: 15px 0;
  align-items: center;
  padding: 15px 0;
}

.menu a {
  color: white;
}

.menu-logo a {
  color: white;
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav a {
  display: block;
  font-size: 1.25em;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/*Introdução*/
.introducao {
  font-size: 3em;
  line-height: 1;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 10px;
}

/* Sobre */
.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  color: #7c7c7c;
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
}

.sobre-img {
  flex: 1 1 160px;
}

/*Produtos*/
.produtos {
  margin: 60px auto;
  max-width: 960px;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  color: #a4a4a4;
  background: #f7f7f7;
  font-size: 3em;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* Preço */
.preco {
  align-items: flex-end;
  background: #f7f7f7;
  padding: 60px;
}

.preco-item {
  flex: 1;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}

.preco-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.preco-item span {
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  display: block;
  font-size: 3em;
  font-weight: bold;
  margin: 20px auto;
  max-width: 240px;
  text-align: center;
  padding: 10px 0 5px 0;
}

.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  color: #7c7c7c;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1;
  margin: 20px auto;
  max-width: 300px;
}

.preco-item li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.preco-item li::after {
  background: #2c70ff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
}

.preco-item a {
  border: 3px solid;
  color: #222222;
  display: block;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 20px auto;
  max-width: 300px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15;
}

@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 530px) {
  .ouro {
    order: 0;
  }

  .prata {
    order: 1;
  }

  .cobre {
    order: 2;
  }
}
/* Qualidades */
.qualidades {
  margin: 60px auto;
  max-width: 960px;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  width: 8px;
}

.qualidade-item:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}

.qualidade-item:nth-of-type(3n + 3) h2::before {
  background: #66deeb;
}

.qualidade-item p {
  color: #7c7c7c;
  font-size: 1.5rem;
  line-height: 1.4;
}

/* Newsletter */
.newsletter {
  background: #f7f7f7;
}

.newsletter-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0;
}

.newsletter-info {
  flex: 1 1 280px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3rem;
  color: #a4a4a4;
}

.newsletter-info p {
  color: #7c7c7c;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 10px;
  max-width: 230px;
}

.newsletter-form {
  align-self: center;
  display: flex;
  flex: 2 1 260px;
  flex-wrap: wrap;
  margin: 0 10px;
}

.newsletter-form input {
  background: transparent;
  border: 4px solid #2c70ff;
  border-radius: 0px;
  flex: 3 1 200px;
  font-style: italic;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 15px 10px;
}

.newsletter-form button {
  background: #2c70ff;
  border: none;
  color: white;
  cursor: pointer;
  flex: 1 1 200px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  padding: 15px 10px;
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5rem;
  }
}
/* Footer */
.footer {
  text-align: center;
  padding: 50px;
  background: #2c70ff;
  color: #122ab2;
  font-size: 1.45rem;
}

/*# sourceMappingURL=style.css.map */
