$font-family: 'Nunito', Arial, Helvetica, sans-serif;
$dark-blue: #122ab2;
$text-color: #222222;
$light-blue: #2c70ff;
$dark-grey: #7c7c7c;
$light-grey: #a4a4a4;
$ice-white: #f7f7f7;
$purple: #ae81ff;
$pink: #f9265e;

@mixin screen-align($padding-value) {
    margin: 0 auto;
    max-width: 960px;
    padding: $padding-value;
}

body, p, h1, h2, h3, ul, li, a {
    margin: 0%;
    padding: 0%;
}

body {
    color: $text-color;
    font-family: $font-family;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/*Superinfo*/

.superinfo-bg {
    color: white;
    background: $dark-blue;
}


.superinfo {
    @extend .flex;
    @include screen-align(10px 0 0 0);
    justify-content: space-between;
}

.superinfo a {
    color: white;
}

.superinfo p, .superinfo a {
    margin: 0 10px 10px 10px;
}

/* Menu */

.menu-bg {
    background: $light-blue;
}

.menu {
    @extend .flex;
    @include screen-align(15px 0);
    align-items: center;
    padding: 15px 0;
    
}

.menu a {
    color: white;
}

.menu-logo a {
    color: white;
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    @extend .flex;
}

.menu-nav a {
    display: block;
    font-size: 1.25em;
    padding: 10px;
}

.menu-nav a:hover {
    color:$dark-blue;
}

/*Introdução*/

.introducao {
    font-size: 3em;
    line-height: 1;
    @include screen-align(60px 10px);
}

/* Sobre */

.sobre {
    border-top: 2px solid $light-blue;
    border-bottom: 2px solid $light-blue;
    @extend .flex;
    @include screen-align(60px 0);
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    color: $dark-grey;
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

.sobre-img {
    flex: 1 1 160px;
}

/*Produtos*/

.produtos {
    margin: 60px auto;
    max-width: 960px;
}

.produtos h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.produtos-container {
    align-items: flex-end;
    @extend .flex;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item h2 {
    color: $light-grey;
    background: $ice-white;
    font-size: 3em;
    padding: 60px 20px;
}

.purple {
    border-top: 8px solid $purple;
}

.pink {
    border-top: 8px solid $pink;
}

.blue {
    border-top: 8px solid #66d9eb;
}

/* Preço */

.preco {
    align-items: flex-end;
    background: $ice-white;
    @extend .flex;
    padding: 60px;
}

.preco-item {
    flex: 1;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco-item h2 {
    font-size: 3em;
    color: $light-grey;
    text-align: center;
    margin-top: 20px;
}

.preco-item span {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    display: block;
    font-size: 3em;
    font-weight: bold;
    margin: 20px auto;
    max-width: 240px;
    text-align: center;
    padding: 10px 0 5px 0;
}

.preco-item sup {
    font-size: 1.5rem;
}

.preco-item ul {
    color: #7c7c7c;
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1;
    margin: 20px auto;
    max-width: 300px;
}

.preco-item li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.preco-item li::after {
    background: $light-blue;
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
}

.preco-item a {
    border: 3px solid;
    color: $text-color;
    display: block;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15;
}

@media (max-width: 800px) {
    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 530px) {
    .ouro {
        order: 0;
    }
    .prata {
        order: 1;
    }
    .cobre {
        order: 2;
    }
}

/* Qualidades */

.qualidades {
    @extend .flex;
    margin: 60px auto;
    max-width: 960px;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2 {
    font-size: 2.25em;
    color: $light-grey;
    margin-bottom: 20px;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    width: 8px;
}


.qualidade-item:nth-of-type(3n + 1) h2::before {
    background: $purple;
}

.qualidade-item:nth-of-type(3n + 2) h2::before {
    background: $pink;
}

.qualidade-item:nth-of-type(3n + 3) h2::before {
    background: #66deeb;
}

.qualidade-item p {
    color: #7c7c7c;
    font-size: 1.5rem;
    line-height: 1.4;
}

/* Newsletter */

.newsletter {
    background: $ice-white;
}

.newsletter-container {
    display: flex;
    flex-wrap: wrap;
    @include screen-align(60px 0);
}

.newsletter-info {
    flex: 1 1 280px;
    margin: 0 10px;
}

.newsletter-info h1 {
    font-size: 3rem;
    color: $light-grey;
}

.newsletter-info p {
    color: #7c7c7c;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 10px;
    max-width: 230px;
}

.newsletter-form {
    align-self: center;
    display: flex;
    flex: 2 1 260px;
    flex-wrap: wrap;
    margin: 0 10px;
}

.newsletter-form input {
    background: transparent;
    border: 4px solid $light-blue;
    border-radius: 0px;
    flex: 3 1 200px;
    font-style: italic;
    font-family: $font-family;
    font-size: 1.25rem;
    margin: 0;
    padding: 15px 10px;
}

.newsletter-form button {
    background: $light-blue;
    border: none;
    color: white;   
    cursor: pointer;
    flex: 1 1 200px;
    font-family: $font-family;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    padding: 15px 10px;
}

@media (max-width: 600px) {
    .newsletter-form button {
        font-size: 1.5rem;
    }
}

/* Footer */

.footer {
    text-align: center;
    padding: 50px;
    background: $light-blue;
    color: $dark-blue;
    font-size: 1.45rem;
}
